@use "../../abstracts/variables" as v;

.cart {
  overflow: hidden;
  height: 0rem;
  transition: height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  &.is-opened {
    height: 40rem;
  }
  &__component {
    padding: 1.5rem;
    filter: blur(5px);
    flex: 1 1 0%;
    height: auto;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__top_box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  &__top__left {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__line {
    max-width: calc(100% - 3rem);
    margin: auto;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    height: 1px;
    width: 0%;
    transition: width 0.3s ease-in-out;
  }
  &.is-opened &__line {
    width: 100%;
    transition-delay: 0.5s;
  }
  &.is-opened &__component {
    opacity: 1;
    filter: blur(0px);

    transition-delay: 0.5s;
  }
  &__list__empty {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
  }
  &__list__wrapper {
    max-height: 25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__list__item {
    display: grid;
    grid-template-columns: 2.5rem 6.25rem 50% auto;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba($color: #fff, $alpha: 0.02);
    gap: 1rem;
    color: v.$white;
    border-radius: 1.25rem;
    backdrop-filter: blur(15px);
    align-items: center;
    &__right {
      display: flex;
      align-items: end;
      justify-content: space-between;
      height: 100%;
      flex-direction: column;
    }
    &__close {
      background: none;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      position: relative;
      border-radius: 50%;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: 100%;
      &__bottom {
        &__wrapper {
          display: flex;
          gap: 2rem;
        }
      }
    }
    &__quantity {
      padding: 0.5 0rem;
      height: 6.25rem;
      width: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba($color: #fff, $alpha: 0.02);
      border-radius: 1.25rem;
    }
    &__image {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 0.5rem;
    }
  }
  &__bottom {
    padding-top: 1.5rem;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    &__left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .cart {
    &__component {
      padding: 1rem;
    }
    &__line {
      max-width: calc(100% - 2rem);
    }
    &.is-opened {
      height: calc(100dvh - 8rem);
    }
    &__list__item {
      grid-template-columns: 2.5rem 6.25rem auto auto;
      gap: 0.5rem;
    }
    &__list__item__info__bottom__wrapper {
      flex-direction: column;
      gap: 0.25rem;
    }
    &__list__item__right {
      justify-content: space-between;
    }
    &__list__wrapper {
      max-height: none;
      height: calc(100dvh - 19rem);
    }
  }
}
@media screen and (max-width: 469px) {
  .cart__list__item {
    grid-template-columns: 2.5rem 5rem auto;
  }

  .cart__list__item__quantity {
    height: 5rem;
  }
  .cart {
    &.is-opened {
      height: calc(100dvh - 6.5rem);
    }
    &__bottom__left {
      gap: 0.5rem;
    }
    &__list__wrapper {
      height: calc(100dvh - 17.5rem);
    }
    &__list__item__right {
      grid-column-start: 1;
      grid-column-end: 4;
      flex-direction: row;
      justify-content: right;
    }
    &__list__item {
      position: relative;
      z-index: 0;
      &__close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }
    }
  }
}
