@use "../../abstracts/variables" as v;

.footer {
  background: v.$white;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem;
  position: relative;
  z-index: 1;
  padding-top: 4rem;
  padding: 1.5rem;
  color: v.$brown;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1rem;
  &__logo {
    font-size: 25vw;
    color: inherit;
    align-self: center;
    text-decoration: none;
    font-weight: 500;
    margin: auto 0;
    user-select: none;
    letter-spacing: -0.02em;
    text-transform: lowercase;
  }
  &__text__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-top: 2rem;
    border-top: 1px solid color-mix(in srgb, v.$brown 20%, white);
  }
}

@media screen and (max-width: 767px) {
  .footer__text__wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
  }
}
