@use "../../abstracts/variables" as v;

.header {
  height: 100dvh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &__wrapper {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    grid-column: span 2;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    &__source {
      width: 100%;
      height: 100%;
    }
  }

  &__component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;

    height: 100%;
    color: v.$background;
  }
  &__item {
    padding: 2.5rem;
    display: flex;
    padding-top: 10rem;

    &.span-two {
      grid-column: span 2;
    }
    &__heading_wrapper {
      max-width: 60rem;
    }
    &__box {
      padding: 1.5rem;
      padding-bottom: 5rem;
      display: flex;
      align-items: center;
      position: relative;
      &.v2 {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    &__text_box {
      width: 30rem;
      align-self: baseline;
    }
    &__label {
      position: absolute;
      left: 1.5rem;
      top: -2rem;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  &__swiper {
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1.5rem;
    height: 9rem;
    &__box {
      width: 23rem;
      padding: 0.5rem;
      height: 100%;
      display: grid;
      grid-template-columns: 8rem 1fr;
      gap: 1rem;
    }
    &__bg {
      border-radius: 1.25rem;
      height: 12rem;
    }
    &__buttons__wrapper {
      position: relative;
      bottom: -2rem;
      width: 15rem;
      margin: auto;
    }
    &__wrapper {
      width: 20rem;
    }
    &__image {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 1.25rem;
    }
    &__text__wrapper {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      gap: 1rem;
      align-items: baseline;
    }
    &__text__box {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
    }
  }
}

.custom-pagination {
  display: flex;
  gap: 0.25rem;
  margin: auto;
  width: 5rem !important;
  justify-content: center;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: white;
  transform: scale(1.1);
}

@media screen and (max-width: 991px) {
  .header {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &__item {
      padding: 9rem 1.5rem;
    }
    &__item__box {
      display: flex;
      align-items: center;
      &.v2 {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 0;
      }
    }
  }
}

@media screen and (max-width: 469px) {
  .header__item {
    padding: 8rem 0.5rem;
  }
  .header__swiper {
    width: calc(100vw - 1rem);
    &__box {
      width: calc(100vw - 2rem);
    }
  }
  .header__item__box {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .header__item__label {
    left: 0.5rem;
  }
}
