@use "../../abstracts/variables" as v;

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  background-color: v.$background;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &__text {
    font-size: 10rem;
    font-weight: 900;
    color: v.$beige;
  }
  &__active {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 767px) {
  .loader__text {
    font-size: 6rem;
  }
}
@media screen and (max-width: 4px) {
  .loader__text {
    font-size: 2.5rem;
  }
}
